h1{
text-align:center;
font-family:'Chelsea Market';
font-size:50px;
width:20%;
margin-left:40%;
}
body{
  background-color: #00BFFF;
}
.tile{
  width:5%;
  margin:0 0.5% 0 0.5%;
}

.tile1{
  width:100%
}

.dice{
margin:20px 20px 20px 20px;
width:30px;


}
.flip{
position:relative;
top:-70px;
float:right;
border:solid 3px;
border-radius:5px;
background-color:CadetBlue;
width:10%;
font-family:'Chelsea Market';
margin:0 15% 2% 0;
}

.grid1{
position:relative;
top:-50px;
display:flex;
flex-wrap: nowrap;
width:100%;
margin-left:auto;
margin-right:auto;
}

.score1{
display:inline-flex;
flex-wrap:wrap;
position:relative;
top:-100px;
width:100px;
height:100px;
margin:10% 5% 0% 5%;
}
.score1text{
margin:0 0 0 0;
font-family:'Chelsea Market';
}
.score1number{
margin:0 0 0 7%;
font-size:80px;
font-family:'Chelsea Market';
}
.score1numberred{
  margin:0 0 0 7%;
  font-size:80px;
  font-family:'Chelsea Market';
  color: red;
}

.row2{
position:relative;
top:-160px;
}

.bank1{
display: inline-flex;
flex-wrap: wrap;
height:280px;
width:140px;
}

.diceRoll{
display:inline-flex;
flex-wrap: wrap;
height:280px;
width:140px;
margin-left:290px;
}
.bank2{
left:250px;
display:inline-flex;
flex-wrap: wrap;
height:280px;
width:140px;
}

.diceRow{
position:relative;
left:60px;

}

.score2{
display:inline-flex;
flex-wrap:wrap;
position:relative;
top:-100px;
width:100px;
height:100px;
margin:10% 5% 0% 5%;
float:right;
}

.player1{
width:5%;
margin:0 20% 0 20%;
float:left;
}
.roll{
border:solid 3px;
border-radius:5px;
background-color:CadetBlue;
width:10%;
font-family:'Chelsea Market';
}
.player2{
  width:5%;
position:relative;
top:-250px;
margin:0 20% 0 20%;
float:right;
}
.dice{
 width:30px;
}
